<section class="container px-6 py-10 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <div class="text-left mx-auto">
            <h1 class="mb-4 max-w-xl mx-auto text-2xl md:text-3xl lg:text-4xl font-bold leading-none tracking-tight text-primary-300 dark:text-primary-300">
                Sobre Nosotros
            </h1>
            <p class="mb-2 text-lg font-normal text-white dark:text-white">Nuestro equipo está compuesto por técnicos mecánicos, electricistas y electrónicos.</p>
            <p class="mb-2 text-lg font-normal text-white dark:text-white">Nos especializamos en ofrecer servicios completos de mantenimiento y reparación de maquinaria vial para asegurar que sus proyectos se mantengan en marcha sin contratiempos.</p>
            <p class="mb-4 text-lg font-normal text-white dark:text-white">Con más de 30 años de experiencia en el rubro y un equipo de técnicos certificados por Caterpillar, estamos aquí para asegurarnos de que su maquinaria vial funcione de manera eficiente y sin interrupciones.</p>
            <div class="grid grid-cols-2">
                <p class="text-lg font-normal text-white dark:text-white">Más de 30 años<br/>
                    de experiencia</p>
                <p class="text-lg font-normal text-white dark:text-white">Certificados por<br/>
                    CATERPILLAR</p>
            </div>
        </div>
        <div class="grid relative grid-cols-1 md:grid-cols-12">
            <img src="/images/about.jpg" alt="Imagen de soluciones agroviales" class="z-20 w-11/12 mt-8 md:row-[1] md:col-[1/span_8]" />
            <img src="/images/about2.jpg" alt="Imagen de soluciones agroviales" class="max-md:hidden z-10 w-10/12 md:ml-auto md:row-[1] md:col-[4/-1]" />
        </div>
    </div>
</section>