<section class="pb-8 mx-auto w-full text-center bg-gradient-to-t from-gray-900 to-gray-800">
    <div class="dark:text-white py-20">
        <h1 class="mb-4 text-4xl sm:text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white">Contacto</h1>
        <p>Home / Contacto</p>
    </div>
</section>