---
import {
    mapIframe,
} from '@/hooks/env.js';
import Form from '@/components/Form.jsx';
---
<section class="container mx-auto">
    <div class="pb-8 px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="grid grid-cols-6 lg:gap-8 lg:grid-cols-12">
            <div class="col-span-6 mb-8 lg:mb-0">
                <Form client:load />
            </div>
            <div class="col-span-6" set:html={mapIframe}>
            </div>
        </div>
    </div>
</section>
