<section class="bg-primary-400 dark:bg-primary-500 py-20 mx-auto">
    <div class="text-center">
        <h2 class="max-w-4xl mx-auto text-3xl md:text-4xl lg:text-5xl font-bold leading-none tracking-tight text-gray-800 dark:text-gray-900">
            Servicios Especializados en: Hidráulica, mecánica, eléctrica y electrónica
        </h2>
    </div>
</section>