<section class="container px-6 py-10 mx-auto">
   
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 sm:py-16 lg:px-6">
        
        <img
            class="w-9/12 sm:w-8/12 md:w-11/12 max-md:order-last mx-auto"
            src="images/diagnostico.webp"
            alt="excavadora" 
        />
        <div class="mt-4 md:mt-0 max-md:order-first">
            <div class="flex flex-row ml-0">
                <img src="images/iconos/diagnostico.svg" alt="icono diagnóstico" class="w-10 h-10 md:w-16 md:h-16 mr-4" />
                <h2 class="mb-4 text-xl sm:text-2xl md:text-3xl tracking-tight font-bold text-primary-300 dark:text-primary-300">
                    Diagnóstico Computarizado
                </h2>
            </div>
            <p class="mb-6 font-light text-white md:text-lg dark:text-white ml-14 md:ml-20">
                Utilizamos tecnología de punta para realizar diagnósticos precisos y rápidos, asegurando una reparación eficiente
            </p>
        </div>
        
    </div>
</section>
<style>
.codicon--check-all {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M15.62 3.596L7.815 12.81l-.728-.033L4 8.382l.754-.53l2.744 3.907L14.917 3z'/%3E%3Cpath d='m7.234 8.774l4.386-5.178L10.917 3l-4.23 4.994zm-1.55.403l.548.78l-.547-.78zm-1.617 1.91l.547.78l-.799.943l-.728-.033L0 8.382l.754-.53l2.744 3.907l.57-.672z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
</style>