<section class="container px-6 py-10 mx-auto">
    <div class="text-center">
        <h2 class="mb-4 max-w-xl mx-auto text-2xl md:text-3xl lg:text-4xl font-bold leading-none tracking-tight text-gray-900 dark:text-primary-300">
            Proporcionamos soluciones eficientes y de alta calidad
        </h2>
    </div>
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        
        <div class="mt-4 md:mt-0">
            <div class="flex flex-row -ml-20">
                <img src="images/iconos/reparacion.svg" alt="icono reparaciones" class="w-16 h-16 mr-4" />
                <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-primary-400 dark:text-primary-300">
                    Servicio y reparación de equipos de Maquinarias Viales
                </h2>
            </div>
            <p class="mb-6 font-light text-black md:text-lg dark:text-white">
                Ofrecemos reparaciones completas para asegurar el óptimo funcionamiento de su equipo.
                <ul class="font-light text-black md:text-lg dark:text-white">
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Hidráulica, Mecánica, Eléctrica y Electrónica</li>
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Diagnóstico por escáner</li>
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Equipos de Asfalto: Terminadora, Compactadora, Plantas de asfalto, hormigón y trituradoras de piedra</li>
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Venta de repuestos para todas las marcas</li>
                </ul>
            </p>
            
        </div>
        <img
            class="w-full brightness-90 contrast-125"
            src="images/excavadora.webp"
            alt="excavadora" 
        />
    </div>
</section>
<style>
.codicon--check-all {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M15.62 3.596L7.815 12.81l-.728-.033L4 8.382l.754-.53l2.744 3.907L14.917 3z'/%3E%3Cpath d='m7.234 8.774l4.386-5.178L10.917 3l-4.23 4.994zm-1.55.403l.548.78l-.547-.78zm-1.617 1.91l.547.78l-.799.943l-.728-.033L0 8.382l.754-.53l2.744 3.907l.57-.672z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
</style>