<section class="container px-6 py-10 mx-auto">
    <div class="text-center">
        <h2 class="mb-4 max-w-xl mx-auto text-2xl md:text-3xl lg:text-4xl font-bold leading-none tracking-tight text-gray-900 dark:text-primary-300">
            Proporcionamos soluciones eficientes y de alta calidad
        </h2>
    </div>
    <div class="gap-8 items-center py-8 md:px-4 mx-auto max-w-screen-xl xl:gap-16 lg:grid lg:grid-cols-2 sm:py-16 lg:px-6">
        <div class="mt-4 md:mt-0">
            <div class="flex flex-row ml-0">
                <img src="images/iconos/reparacion.svg" alt="icono reparaciones" class="w-10 h-10 md:w-16 md:h-16 mr-4" />
                <h2 class="mb-4 text-xl sm:text-2xl md:text-3xl tracking-tight font-bold text-primary-400 dark:text-primary-300">
                    Servicio y reparación de equipos de Maquinarias Viales
                </h2>
            </div>
            <p class="mb-6 font-light text-black md:text-lg dark:text-white ml-14 md:ml-20">
                Ofrecemos reparaciones completas para asegurar el óptimo funcionamiento de su equipo.
                <ul class="font-light text-black md:text-lg dark:text-white ml-14 md:ml-20">
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Hidráulica, Mecánica, Eléctrica y Electrónica</li>
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Diagnóstico por escáner</li>
                    <li class="max-sm:hidden"><i class="codicon--check-all text-primary-300 mr-3"></i>Equipos de Asfalto: Terminadora, Compactadora, Plantas de asfalto, hormigón y trituradoras de piedra</li>
                    <li><i class="codicon--check-all text-primary-300 mr-3"></i>Venta de repuestos para todas las marcas</li>
                </ul>
            </p>
        </div>
        <img
            class="w-full brightness-90 contrast-125"
            src="images/excavadora.webp"
            alt="excavadora" 
        />
    </div>
</section>