<section
    class="bg-[url('/images/road.avif')] bg-no-repeat bg-cover bg-center h-screen w-full bg-gray-700 dark:bg-gray-800 bg-blend-multiply flex flex-col justify-center items-center">
    <div class="relative py-8 px-4 mx-auto max-w-screen-xl lg:py-52 xl:px-0 z-1 ">
        <div class="font-Montserrat max-w-screen-md text-center mx-auto">
            <img src="logo.svg" alt="logo Soluciones Agroviales" class="w-44 mb-16 mx-auto dark:invert" />
            <h1
                class="mb-4 md:text-nowrap text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-tight text-primary-50 dark:text-white"
            >
                Soluciones Agroviales H.M
            </h1>
            
            <p
                class="font-normal uppercase text-white text-sm sm:text-sm md:text-md lg:text-lg py-2 sm:py-4 tracking-tight w-full dark:text-white">
                Repuestos, Servicio y reparación de equipos de maquinarias viales
            </p>
            
        </div>

    </div>
</section>